body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

canvas {
	display: block;
}

header {
	text-align: center;
}

html, body {
	margin: 0;
	padding: 0;

	width: 100%;
	height: 100%;
}

#main {
	margin-left: 2em;
	margin-right: 2em;
}

@media screen and (min-device-width: 1000px) {
	#main {
		margin-left: 20%;
		margin-right: 20%;
	}
}

