<!DOCTYPE html>
<head>
	<title>todo</title>

	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"/>
	<link rel="stylesheet" href="./styles/normalize.css"/>
	<link rel="stylesheet" href="./styles/milligram.min.css"/>

	<link rel="stylesheet" href="./styles/main.css"/>
</head>
<body>
	<header>
		<h1>todo</h1>

		<div id="account">
		{{#user}}
			<!--<p>{{username}}</p>-->
			<p><a id="signoutButton" class="button">Sign Out</a></p>
		{{/user}}

		{{^user}}
			<a id="signinButton" class="button">Sign In</a>
			<a id="signupButton" class="button">Sign Up</a>
		{{/user}}
		</div>
	</header>

	<main>
		<table>
		{{#user}}
			<thead data-num-items={{numItems}} data-email={{username}}>
				<tr>
					<th colspan="3">{{username}}</th>
				</tr>
			</thead>

		{{#item}}
			<tr>
				<td>{{heading}}</td>
				<td>{{body}}</td>
				<td><a class="button button-clear deleteButton">Delete</a></td>
			</tr>
		{{/item}}
		{{^item}}
			<tr>
				<td>Add something to do</td>
				<td>Use the controls below</td>
				<td></td>
			</tr>
		{{/item}}
		</table>

		<button id="saveButton" class="button button-outline" disabled>Save</button>
		<button id="newButton" class="button button-outline">New</button>
		{{/user}}
		{{^user}}
			<tr>
				<td>Sign up for todo</td>
				<td>Use the link above</td>
				<td></td>
			</td>
		</table>
		{{/user}}
	</main>

	<div id="signinForm" hidden>
		Email:
		<input type="text" class="emailInput">

		Password:
		<input type="password" class="passwordInput">

		<button id="signinFormButton" name="email" class="button button-outline">Sign In</button>

		<a id="forgotPasswordButton" name="password" class="button button-clear" hidden>Forgot Password?</a>
	</div>

	<div id="signupForm" hidden>
		Email:
		<input type="text" name="email" class="emailInput" placeholder="name@example.com">

		Password:
		<input type="password" name="password" class="passwordInput" placeholder="at least 12 characters">

		<button id="signupFormButton" class="button button-outline">Sign Up</button>
	</div>

	<script src="scripts/ui.js"></script>
	{{#user}}
	<script src="scripts/cache.js"></script>
	{{/user}}
</body>

