<!DOCTYPE html>
<head>
	<title>todo</title>

	<link rel="stylesheet" href="styles/main.css"/>
</head>
<body>
	<header>
		<h1>todo</h1>

		<div id="account">
			{{#user}}
				<p>{{username}}</p>
				<p><a id="signoutButton">Sign Out</a></p>
			{{/user}}

			{{^user}}
				<p><a id="signinButton">Sign In</a></p>
				<p><a id="signupButton">Sign Up</a></p>
			{{/user}}
		</div>
	</header>

	<section id = "main">
		{{#user}}
			{{#item}}
				<h2>{{heading}}</h2>
				<p>{{body}}</h2>
			{{/item}}

			{{^item}}
				<p>There's nothing here...</p>
			{{/item}}
		{{/user}}
	</section>

	<div id="signinForm" hidden>
		<input type="text" class="emailInput">
		<input type="password" class="passwordInput">

		<input type="button" id="signinFormButton">
	</div>

	<div id="signupForm" hidden>
		<input type="text" class="emailInput">
		<input type="password" class="passwordInput">

		<input type="button" id="signupFormButton">
	</div>

	<script src="scripts/ui.js"></script>
</body>

